{
  "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": "airbnb",
    "rules": {
      "space-in-brackets": ["error", "always"],
      "object-curly-spacing": ["error", "always"],
      "implicit-arrow-linebreak": ["error", "beside"],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "indent": [4, "tab"]
    }
}